In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
dataset = [
    ['milk', 'bread', 'nuts', 'apple'],
    ['milk', 'bread', 'nuts'],
    ['milk', 'bread'],
    ['milk', 'bread', 'apple'],
    ['milk', 'bread', 'apple']
]

In [3]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   apple  bread  milk   nuts
0   True   True  True   True
1  False   True  True   True
2  False   True  True  False
3   True   True  True  False
4   True   True  True  False

In [4]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
print(frequent_itemsets)

   support              itemsets
0      0.6               (apple)
1      1.0               (bread)
2      1.0                (milk)
3      0.6        (apple, bread)
4      0.6         (apple, milk)
5      1.0         (milk, bread)
6      0.6  (apple, milk, bread)

In [5]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

      antecedents    consequents  support  confidence  lift
0         (apple)        (bread)      0.6         1.0   1.0
1         (apple)         (milk)      0.6         1.0   1.0
2          (milk)        (bread)      1.0         1.0   1.0
3         (bread)         (milk)      1.0         1.0   1.0
4   (apple, milk)        (bread)      0.6         1.0   1.0
5  (apple, bread)         (milk)      0.6         1.0   1.0
6         (apple)  (milk, bread)      0.6         1.0   1.0

C:\Users\Uday\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)